html {
    scroll-padding-top: 70px;
    /* This is to prevent content from being hidden behind the fixed header */
    scroll-behavior: smooth;
    /* Enable smooth scrolling */
    overflow-x: hidden;
}


body {
    color: #FBFBFC;
    background-color: #1D1C21;
    font-family: "Poppins", sans-serif;
    font-style: italic;
    font-weight: lighter;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 1.2rem;
    background-color: #1D1C21fb;
    width: 100vw;
    height: 70px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    box-sizing: border-box;
}

.logo {
    font-size: 1.5rem;
    padding: 10px 10px;
    transition: transform 0.5s ease-in-out;
    /* Smooth transition for transform */
}

.logo:hover {
    transform: scale(1.05);
    cursor: pointer;
    color: #13F69B;
}

span {
    color: #13F69B;
}

.navbar {
    display: flex;
    margin-left: auto;
    gap: 20px;
    padding-right: 10px;
}

.navbar p {
    cursor: pointer;
    background-color: transparent;
    position: relative;
    /* So we can add pseudo-elements */
    padding-bottom: 3px;
    /* Add space for the border */
}

.navbar p:hover {
    color: #13F69B;
}

.navbar p::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #13F69B;
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: transform 0.7s ease-in-out;
}

.navbar p:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


.navbar p.active {
    color: #13F69B;
}

.navbar p.active::after {
    transform: scaleX(1);
    /* Keep the underline visible */
    transform-origin: bottom left;
}


.home-section {
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 0 15%;
    font-size: 30px;
    animation: slideUp 2s ease-in forwards;
    position: relative;
    height: 100vh;
    width: 100vw;
    /* Ensure it occupies full viewport height */
    transform-origin: center bottom;
    /* Ensure it starts from the bottom */

}

@keyframes slideUp {
    from {
        transform: translateY(300px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}


.home-left,
.home-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Center the content vertically */
    align-items: center;
    /* Center the content horizontally */
    flex: 0 0 auto;
    /* Prevent flex-grow (stretching) */
    width: auto;
    /* Shrink to fit the content */
    max-width: 50%;
    /* Optional: Restrict max width */
    height: auto;
    /* Shrink to fit content */
    max-height: 80vh;
    /* Optional: Restrict max height */
}

.home-left {
    align-items: flex-start;
}

.myphoto {
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 0 5px #13F69B, 0 0 20px #13F69B, 0 0 30px #13F69B;
    transition: box-shadow 0.3s ease-in-out;
    /* Smooth transition for the glow effect */
}

.myphoto:hover {
    box-shadow: 0 0 25px #13F69B, 0 0 30px #13F69B, 0 0 60px #13F69B;
    /* Glow effect on hover */
    transition: box-shadow 0.5s ease-in-out;
    /* Optional for smooth effect on hover */
}

.summary {
    margin-top: 10px;
    margin-bottom: 30px;
    text-align: left;
    font-size: 17px;
}

/* Buttons container */
buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

/* Individual button styling */
button {
    font-size: 1.2rem;
    padding: 8px 23px;
    background-color: transparent;
    color: #13F69B;
    border: none;
    cursor: pointer;
    border-radius: 40px;
    transition: background-color 0.3s ease-in-out;
    /* Smooth transition for hover effect */
    animation: btnSlideUp 0.8s ease-out forwards;
    /* Shortened animation duration */
    opacity: 0;
    /* Initially hidden */
    border: 1px #13F69B solid;
}

button:hover {
    transition: box-shadow 0.3s ease;
    box-shadow: 0 0px 25px #13F69B;
    transform: scale(1.05);
    color: #FBFBFC;
    background-color: #13F69B;
}

.btn.home {
    animation-delay: 1s;
    /* Start after parent animation */
}

.btn.resume {
    animation-delay: 1.5s;
}

.btn.projects {
    animation-delay: 2s;
}

.btn.about-me {
    animation-delay: 2.5s;
}

/* Keyframes for slide-up effect */
@keyframes btnSlideUp {
    from {
        transform: translateY(50px);
        /* Start slightly lower */
        opacity: 0;
        /* Fully hidden */
    }

    to {
        transform: translateY(0);
        /* Final position */
        opacity: 1;
        /* Fully visible */
    }
}

.resume-section {
    margin: 30px;
    padding-top: 60px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: left;
    font-size: 1.5rem;
    margin-bottom: 100px;
    animation: slideUp 2s ease-in-out forwards;
}


.resume-container {
    width: 85%;
    margin: 0 auto;
    padding: 20px;
}

.resume-title {
    font-size: 36px;
    margin-bottom: 80px;
    color: #13F69B;
}

.work-experience {
    display: flex;
    justify-content: space-between;
}

.work-experience h2 {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 20px;
    width: 180px;
    padding: 0;
}

.jobs {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.job {
    display: flex;
    gap: 50px;
    width: 660px;
}

.job {
    opacity: 0;
    transform: translateY(20px);
    animation: slideUp 2s ease-in-out forwards;
}


@keyframes slideUp {
    from {
        transform: translateY(50px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.job:nth-child(1) {
    animation-delay: 0.5s;
}

.job:nth-child(2) {
    animation-delay: 1s;
}

.job:nth-child(3) {
    animation-delay: 1.5s;
}

.job:nth-child(4) {
    animation-delay: 2s;
}

.job-date {
    font-weight: bold;
    font-size: 14px;
    width: 170px;
    text-align: left;
}

.job-details {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-bottom: 10px;
}

.job-title {
    font-size: 18px;
    margin: 0;
}

.job-description {
    width: 400px;
    font-size: 14px;
    color: #666;
}


.resume-section>h2 {
    color: #13F69B
}

.resume-container hr {
    margin: 100px 0;
}

.project-section {
    margin-top: 30px;
    padding-top: 60px;
    text-align: left;
    margin-bottom: 100px;
    animation: slideUp 2s ease-in-out forwards;
}

.project-container {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: 0 auto;
    padding: 20px;
}

.project-title {
    font-size: 36px;
    margin-bottom: 80px;
    color: #13F69B;
}

.projects {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.project {
    display: flex;
    gap: 100px;
}

.project-info {
    display: flex;
    flex-direction: column;
}


.project-info h2 {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 20px;
    padding: 0;
}

.project-info p {
    width: 400px;
    font-size: 1em;
    color: #555;
    line-height: 1.5;
}

.project-image {
    display: flex;
    justify-content: center;
}

.project-image img {
    max-width: 750px;
    height: auto;
    border-radius: 8px;
    cursor: pointer;
}



.project {
    opacity: 0;
    transform: translateY(20px);
    animation: slideUp 2s ease-in-out forwards;
}

.project:nth-child(1) {
    animation-delay: 0.5s;
}

.project:nth-child(2) {
    animation-delay: 1s;
}

.project:nth-child(3) {
    animation-delay: 1.5s;
}


.about-me-section {
    height: 85vh;
    margin: 30px 30px 0 30px;
    padding-top: 60px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: left;
    font-size: 1.5rem;
    animation: slideUp 2s ease-in-out forwards;
}

.about-me-container {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: 0 auto;
    padding: 20px;
}

.about-me-section h1 {
    font-size: 36px;
    margin-bottom: 80px;
    color: #13F69B;
}

.about-me-section hr {
    margin: 10px 0 40px 0;
}

.about-me-section p {
    font-size: 20px;
}

.about-me-info p {
    margin-bottom: 2.5rem;
    /* Add spacing */
    opacity: 0;
    transform: translateY(20px);
    animation: slideUp 2s ease-in-out forwards;
}

@keyframes slideUp {
    from {
        transform: translateY(20px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Apply staggered animation delays for each p tag */
.about-me-info p:nth-child(1) {
    animation-delay: 0.5s;
}

.about-me-info p:nth-child(2) {
    animation-delay: 1s;
}

.about-me-info p:nth-child(3) {
    animation-delay: 1.5s;
}




.contact-section {
    margin: 0 30px 5px 30px;
    padding-left: 60px;
    text-align: center;
}

.contact-section h2 {
    color: #13F69B
}

.container4 {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    cursor: pointer;
    /* Change cursor on hover */
    transition: background-color 0.3s ease-in-out;
    /* Smooth transition for hover effect */
}

.container4 i {
    border: 2px solid #13F69B;
    border-radius: 50%;
    padding: 5px;
    margin: 10px;
    color: #13F69B;
}


.container4 i:hover {
    transition: box-shadow 0.3s ease;
    box-shadow: 0 0px 25px #13F69B;
    transform: scale(1.2);
    color: #FBFBFC;
    /* Scale the button to 110% on hover */
    background-color: #13F69B;
}



.copyright {
    margin: 30px;
    margin-bottom: 5px;
    font-size: small;
}

/* For tablets (768px and below) */
@media (max-width: 768px) {

    body {
        width: 100vw;
    }

    .header {
        flex-direction: column;
        height: auto;
        /* Adjust height to fit content */
        padding: 0;
        text-align: center;
    }

    .logo {
        padding: 0;
    }

    .navbar {
        flex-direction: row;
        margin: 0;
        padding: 0;
    }

    .navbar p {
        text-align: center;
        padding: 0;
        margin: 0;
    }

    .home-section {
        display: flex;
        flex-direction: column-reverse;
        margin: 0;
        margin-top: 30%;
        padding: 0;
        font-size: 25px;
        align-items: center;
        height: 100%;
        width: 100vw;
    }

    .home-right,
    .home-left {
        max-width: 100%;
        justify-content: center;
        align-items: center;
    }

    .home-right img {
        height: 250px;
        width: 250px;
    }

    .home-left h1 {
        padding: 30px 0;
        margin: 0;
    }

    .summary {
        font-size: 15px;
        padding: 0 45px;
        margin-top: 0;
    }

    buttons {
        gap: 10px;
    }

    button {
        font-size: 0.8rem;
        padding: 4px 10px;
    }




    .resume-section {
        display: flex;
        flex-direction: column;
        margin: 0;
        margin-top: 25%;
        padding: 0;
        font-size: 25px;
        align-items: center;
        height: 100%;
        width: 100vw;
    }

    .resume-container {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        margin: 0;
        padding: 0;
    }

    .resume-title {
        margin-bottom: 60px;
    }

    .work-experience {
        display: flex;
        flex-direction: column;
        gap: 35px;
    }


    .job {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        gap: 10px;
    }

    .job-details {
        margin-bottom: 0;
    }

    .job-description {
        width: 300px;
    }

    .resume-container hr {
        margin: 50px 0;
    }




    .project-section {
        display: flex;
        flex-direction: column;
        margin: 0;
        margin-top: 25%;
        padding: 0;
        font-size: 25px;
        align-items: center;
        height: 100%;
        width: 100vw;
    }

    .project-container {
        max-width: 100%;
        margin: 0;
        padding: 0;
    }

    .project-title {
        margin-bottom: 60px;
    }

    .project {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        gap: 10px;
    }


    .project-info p {
        font-size: 18px;
        width: 300px;
    }

    .project-image img {
        max-width: 300px
    }

    .about-me-section {
        display: flex;
        flex-direction: column;
        margin: 0;
        margin-top: 25%;
        padding: 0;
        font-size: 25px;
        align-items: center;
        height: 100%;
        width: 100vw;
    }

    .about-me-section h1 {
        margin-bottom: 60px;
    }

    .about-me-section p {
        font-size: 18px;
        margin: 0;
    }

    .about-me-info {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }




    .contact-section {
        margin: 70px 0 0 0px;
        /* Reduced margin */
        padding: 0px;
        /* Reduced padding */
    }

    .contact-section h2 {
        font-size: 20px;
    }

    .container4 {
        font-size: 1rem;
    }

    .copyright {
        margin: 10px 0 10px 0;
    }
}